r.RequestURI should be changed to r.URL.Path

 
go version go1.18.9 windows/amd64

"RequestURI is the unmodified request-target of the Request-Line (RFC 7230, Section 3.1.1) as sent by the client to a server. Usually the URL field should be used instead."

so, file "swagger.go" line "201"，r.RequestURI should be changed to r.URL.Path
`  r.URL.Path = matches[2] // r.RequestURI = matches[2]`
